@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="fw-bold display-4">Welcome</h1>
    <p class="fw-bold">To my Books .</p>
    <a class="btn btn-outline-primary fw-bolder" href="./Books">View Books</a>
</div>
